* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #6caae0, #a6b2e6);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.app {
  background: white;
  width: 580px;
  min-height: 580px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

h1,
h2 {
  text-align: center;
  margin-bottom: 25px;
}

.search-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border: none;
  background: #627de9;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #284de3;
}

#weatherResult {
  margin: 15px 0;
  text-align: center;
}

.weather-card {
  background: #f3f6ff;
  padding: 15px;
  border-radius: 10px;
}

ul {
  list-style: none;
}

li {
  background: #eef;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: crimson;
  padding: 5px 10px;
  border-radius: 6px;
}

h3 {
  background-color: #0b3d91;
  color: rgb(245, 241, 241);
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  padding: 15px 0;
  margin: 20px 0;
  margin-top: 0%;
  width: 100%;
}

footer {
  width: 100%;
  background-color: #2247ae;
  color: #fffaf3;
  text-align: center;
  padding: 1.5rem;
  border-top: 4px solid #4754a7;
  border-radius: 0;
  margin-top: 40px;
  font: size 300px;
}

footer .social-links {
  margin-top: 10px;
}

footer .social-links a {
  color: #fffaf3;
  text-decoration: none;
  font-weight: bold;
  margin: 0 5px;
  transition: color 0.3s;
}

footer .social-links a:hover {
  color: #d1ccd7;
}
